<h1>Editing write log</h1>

<%= render "form", write_log: @write_log %>

<br>

<div>
  <%= link_to "Show this write log", @write_log %> |
  <%= link_to "Back to write logs", write_logs_path %>
</div>
